 
 
        <div>
    <div class="row">
        <div class="left">
            <div class="slider_container">
                <div class="slider">
                    <div class="slide">
                        <img src="https://rukminim1.flixcart.com/flap/3376/560/image/67237d.jpg?q=50" alt="">
                        
                    </div>
                    <div class="slide">
                        <img src="https://rukminim1.flixcart.com/flap/3376/560/image/5dbb22.jpg?q=50" alt="">
                         
                    </div>
                    <div class="slide">
                        <img src="https://rukminim1.flixcart.com/flap/3376/560/image/67237d.jpg?q=50" alt="">
                       
                    </div>
                    <div class="slide">
                        <img src="https://rukminim1.flixcart.com/flap/3376/560/image/5dbb22.jpg?q=50" alt="">
                    </div>
                    <div class="slide">
                        <img src="https://rukminim1.flixcart.com/flap/3376/560/image/67237d.jpg?q=50" alt="">
                    </div> 
                </div>
            </div>
        </div>
       
        
    </div>
    <div id="arrow1" >
            <!-- (click)="doleft()" -->
        <!-- <button (click)="doleft">1</button> -->
        <i class="fas fa-chevron-left"></i>
      </div>
      <div id="arrow2" >
          <!--  (click)="doright()"  <button (click)="doright">2</button> -->
         <i class="fas fa-chevron-right"></i>
      </div>

 </div>
