<div class="productcontainer  row">
  <div class="col-md-5 first">
    <div class="first1">

      <div class="bigimage-container">
        <div id="imageitem">
          <div id="imageitem1">
            <div id="mainimg">
              <img src="https://rukminim1.flixcart.com/image/1664/1664/jdhp47k0/mobile/e/h/e/redmi-note-5-pro-na-original-imaf2ashnnbxxks5.jpeg?q=90"
                alt="" class="imgproduct">
            </div>
          </div>
        </div>
        <div>
          <div class="addbuy">
            <ul class="row">
              <li class="col col-md-6">
                <button class="add">

                  <!-- -->ADD TO CART</button>
              </li>
              <li class="col col-md-6">
                <form>
                  <button class="buy" type="button">
                    <span class="_279WdV"></span>
                    <!-- -->BUY NOW</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
        <div id="fvrt">
          <div id="fvrt1">
            <!-- <i class="fas fa-heart"></i> -->
            <img src="https://use.fontawesome.com/releases/v5.1.0/svgs/solid/heart.svg" alt="">
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="col-md-7 second">
    <div id="firstline">
      <div class="firstline1">
        <a class="firstline1a" href="#">Home</a>
        <i class="fas fa-angle-right"></i>
      </div>
      <div class="firstline1">
        <!--firstlineTypeofProduct [innerHTML]="TypeofProduct" -->
        <a class="firstline1a" id="" href="#">Mobiles && Accessories</a>
        <i class="fas fa-angle-right"></i>
      </div>
      <div class="firstline1">
        <a class="firstline1a" href="#">Mobiles</a>
        <i class="fas fa-angle-right"></i>
      </div>
      <div class="firstline1">
        <a class="firstline1a" href="#">Mi Mobiles</a>
        <i class="fas fa-angle-right"></i>
      </div>
      <div class="firstline1">
        <a class="firstline1a" href="#">Redmi Note 5 Pro (Black, 64 GB)</a>
        <!-- <i class="fas fa-angle-right"></i> -->
      </div>
    </div>
    <div id="secondline">
      <div class="secondline1">
        <h1 class="secondline11">
          <span>Redmi 5A (Rose Gold, 32 GB)
            <!-- -->&nbsp;&nbsp;(3 GB RAM)</span>
        </h1>
        <span class="secondline12">#OnlyOnFlipkart</span>
      </div>
      <div class="secondline2">
        <div class="secondline21">

          <span class="secondline211">4.4
            <!-- -->★</span>
          <span class="secondline212">
            <span>3,76,798 Ratings&nbsp;</span>
            <span>&amp;</span>
            <span>&nbsp;49,210 Reviews</span>
            <img height="21" src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png" class="gYMg9u">
          </span>
        </div>

      </div>
      <div class="secondline3">
        <div class="secondline31">₹6,999 </div>
        <div class="secondline32">
          <img class="_3VW0yj" src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/info-basic_ea3ba2.svg" id="price-info-icon">
        </div>
      </div>
      <div class="secondline4">
        <div class="secondline41">
          Coming Soon
        </div>
      </div>
      <div class="secondline5">
        <div class="secondline51 row">
          <div class="secondline511 col-md-5">
            <div class="secondline5111">

              <input type="text" autocomplete="off" autofocus="" class="_2zrpKA _2qCX8T" value="">
              <span></span>
              <label class="b5konl">Enter email to get notified</label>
            </div>
          </div>
          <div class="secondline512 col-md-7">
            <button>NOTIFY ME</button>
          </div>
        </div>
      </div>
      <div class="secondline6">
        <div class="secondline61">
          <ul>
            <li class="">
              <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIuOCAyLjEzM2gyLjcwNGMuMjc0IDAgLjQ5Ni4yMTguNDk2LjQ5NHYxMi44OGEuNDk4LjQ5OCAwIDAgMS0uNDk2LjQ5M0guNDk2QS40OTMuNDkzIDAgMCAxIDAgMTUuNTA2VjIuNjI2YzAtLjI3Mi4yMjYtLjQ5My40OTYtLjQ5M0gzLjJWMGgyLjEzM3YyLjEzM2g1LjMzNFYwSDEyLjh2Mi4xMzN6TTIuMTMzIDYuNGgxMS43MzR2Ny40NjdIMi4xMzNWNi40ek05LjYgOS42aDIuMTMzdjIuMTMzSDkuNlY5LjZ6IiBmaWxsPSIjMzg4ZTNjIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4K"
                width="18" height="18">
              <p class="_27bCAS">
                <span class="_3o5g5J">No Cost EMIs from </span>
                <span class="_3o5g5J">₹
                  <span>2,333</span>/month</span>
              </p>
              <p class="wMF-cJ">
                <span>. Other EMIs from ₹
                  <span>233</span>/month</span>
              </p>
              <div>
                <button class="_2AkmmA">
                  <span class="uD4D24">View Plans</span>
                  <!-- <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPjEwMzc0NDBFLTZGNDYtNDc5MS1CRkUxLTczQzczMEI2RTU0NTwvdGl0bGU+PHBhdGggZD0iTTEuMiAxTDQgNSAxIDkiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSIjMDI3Q0Q1IiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjwvc3ZnPg=="
                    width="6" height="9" class="E4FWq0"> -->
                  <i class="fas fa-angle-right"></i>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="secondline7">
        <div class="secondline71">
          <div class="secondline711">
            <span class="secondline7111">
              <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNCAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik0wIC4yNTZoMTMuOTJ2MTMuOTdIMCIvPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxnPjxtYXNrIGlkPSJiIiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjxwYXRoIGQ9Ik0uMDQzLjg3NUwwIDcuMjAyYzAgLjE1NS4wNi4zMDQuMTcuNDEzbDYuMzk3IDYuNDIyYy4yNTIuMjUyLjY2LjI1Mi45MSAwbDYuMjU0LTYuMjc1Yy4yNTMtLjI1My4yNTMtLjY2MiAwLS45MTVMNy4zMzQuNDI3Yy0uMTEtLjExLS4yNTgtLjE3Mi0uNDEyLS4xN0wuNjE3LjNDLjMuMzAyLjA0Ni41NTguMDQzLjg3NSIgZmlsbD0iIzM4OGUzYyIgbWFzaz0idXJsKCNiKSIvPjwvZz48cGF0aCBkPSJNMy42MTcgNS40MTdjLS44MzcgMC0xLjUxNi0uNjgtMS41MTYtMS41MnMuNjgtMS41MjMgMS41MTctMS41MjNjLjgzOCAwIDEuNTE2LjY4MiAxLjUxNiAxLjUyMnMtLjY3OCAxLjUyLTEuNTE2IDEuNTJ6IiBmaWxsPSIjRkZGIi8+PC9nPjwvc3ZnPgo="
                width="18" height="18" class="_3Amlen">
              <li class="_2-n-Lg">
                <span>The maximum order qty is limited to 2 unit per customer every 30 days.</span>
              </li>
            </span>
            <span class="secondline7112">
              <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNCAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik0wIC4yNTZoMTMuOTJ2MTMuOTdIMCIvPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxnPjxtYXNrIGlkPSJiIiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjxwYXRoIGQ9Ik0uMDQzLjg3NUwwIDcuMjAyYzAgLjE1NS4wNi4zMDQuMTcuNDEzbDYuMzk3IDYuNDIyYy4yNTIuMjUyLjY2LjI1Mi45MSAwbDYuMjU0LTYuMjc1Yy4yNTMtLjI1My4yNTMtLjY2MiAwLS45MTVMNy4zMzQuNDI3Yy0uMTEtLjExLS4yNTgtLjE3Mi0uNDEyLS4xN0wuNjE3LjNDLjMuMzAyLjA0Ni41NTguMDQzLjg3NSIgZmlsbD0iIzM4OGUzYyIgbWFzaz0idXJsKCNiKSIvPjwvZz48cGF0aCBkPSJNMy42MTcgNS40MTdjLS44MzcgMC0xLjUxNi0uNjgtMS41MTYtMS41MnMuNjgtMS41MjMgMS41MTctMS41MjNjLjgzOCAwIDEuNTE2LjY4MiAxLjUxNiAxLjUyMnMtLjY3OCAxLjUyLTEuNTE2IDEuNTJ6IiBmaWxsPSIjRkZGIi8+PC9nPjwvc3ZnPgo="
                width="18" height="18" class="_3Amlen">
              <li class="_2-n-Lg">
                <span class="_2YJn2R">Bank Offer</span>
                <span>Extra 5% off* with Axis Bank Buzz Credit Card</span>
                <span>
                  <span>
                    <div class="MBd8C2">T&amp;C</div>
                  </span>
                </span>
              </li>
            </span>
          </div>
        </div>
      </div>
      <div class="secondline8">
        <div class="secondline81">
          <div class="secondline811">
            <img src="https://rukminim1.flixcart.com/image/160/160/prod-fk-cms-brand-images/eb23c44fb911eedd1e00e2cd38eb49cecb908f8b99ff62b2f17958633588d2b9.png?q=90">
          </div>
        </div>
        <div class="secondline812">
          <div class="secondline8121">Brand Warranty of 1 Year Available for Mobile and 6 Months for Accessories
            <span class="secondline81211">Know More</span>
          </div>
        </div>
      </div>
      <div class="secondline9">
        <div class="secondline91">
          <div class="secondline911">Highlights</div>
          <div class="secondline912">
            <ul>
              <li class="_2-riNZ">3 GB RAM | 32 GB ROM | Expandable Upto 128 GB</li>
              <li class="_2-riNZ">5 inch HD Display</li>
              <li class="_2-riNZ">13MP Rear Camera | 5MP Front Camera</li>
              <li class="_2-riNZ">3000 mAh Li-polymer Battery</li>
              <li class="_2-riNZ">Qualcomm Snapdragon 425 Processor</li>
            </ul>
          </div>
        </div>
        <div class="secondline92">
          <div class="secondline921">Easy Payment Options</div>
          <div class="secondline922">
            <ul>
              <li class="_2ptBxu">No cost EMI starting from ₹2,333/month</li>
              <li class="_2ptBxu">Net banking &amp; Credit/ Debit/ ATM card</li>
            </ul>
            <div class="_2wzZ7l">View Details</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
